        <hr>
        <footer>

          <div class="row">
              <div class="col-lg-4 text-center">
                Dukung kami:<br/><br/>
                <a href="https://www.facebook.com/banubangsa"> <i class="fa fa-facebook"></i> Banubangsa </a><br/>
                <a href="https://twitter.com/BanuBangsa"> <i class="fa fa-twitter"></i> BanuBangsa </a><br/>
                <a href="https://instagram.com/banubangsa"> <i class="fa fa-instagram"></i> Banubangsa </a><br/>
                <a href="https://www.youtube.com/channel/UCZkrrxE7aPWeaoDRjCD9VNA"> <i class="fa fa-youtube"></i> Banubangsa </a><br/>
              </div>
              <div class="col-lg-4 text-center">
                Bagian dari:<br/> <br/><a href="http://www.menyapa-indonesia.com/"><img class="img-responsive" src="/img/logo-mi.png" alt="" /></a>
              </div>
              <div class="col-lg-4 text-center pull-right">
                Didukung oleh:<br/> <br/><a href="http://www.lpdp.depkeu.go.id/"><img class="img-responsive" src="/img/lpdp.jpg" alt="" /></a>
              </div>
          </div>
          <hr />
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                  <br />
                    <p>Website ini dibuat dan dikelola oleh tim PK-38 "Banu Bangsa"</p>
                    <p>&copy; Banu Bangsa 2015</p>
                </div>
            </div>
        </footer>
