        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                  <br />
                    <p>Website ini dibuat dan dikelola oleh tim PK-38 "Banu Bangsa"</p>
                    <p>&copy; Banu Bangsa 2015</p>
                </div>
                <div class="col-lg-3 text-center pull-right">
                  Didukung oleh: <a href="http://www.lpdp.depkeu.go.id/"><img class="img-responsive" src="/img/lpdp.jpg" alt="" /></a>
                </div>
            </div>
        </footer>
